.idea/
.vscode/
.vim/

venv/
dist/
__pycache__/
.coverage
.mypy_cache/
.pytest_cache/
.pytype/
*.pyc
.env*

local*
.githooks/
.venv/

# Some files may end up here in local runs
rabbitmq_olm_package_repo/manifests_crds/*
